.page {
min-width: 1100px;
max-width: 1440px;
margin: 0 auto;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
position: relative;
}

/* .header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  
}

.header__square-pic {
  height: 568px;
  width: 568px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

/* HEADER */

.header {
  padding-top: 60px;
  padding-bottom: 58px;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  
}

.header__image{
  display: block;
  margin: 0 auto 52px;
}

.header__navigation_links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__navigation_link{
position: relative;
text-decoration: none;
display: block;
box-sizing: border-box;
padding-bottom: 14px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 14px;
text-transform: uppercase;
color: #FFFFFF;
transition: font-size 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation_link:hover,
.header__navigation_link:focus{
  font-size: 14px;
}

.header__navigation_link_active_true::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;

  width: 100%;
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.header__navigation_item:not(:last-child){
  margin-right: 24px;
}

/* CONTENT */

.content {
  min-width: 100%;
  min-height: 2080px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../images/IMAGE.jpg);
  padding-top: 238px;
}

.blog {
  max-width: 800px;
  margin: 0 auto;
}
.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-list__item{
  position: relative;
}

.blog-list__heading {
margin: 0;
max-width: 470px;
position: absolute;
top: 220px;
left: 60px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 35px;
color: #FFFFFF;
}

.blog-list__lable {
position: absolute;
top: 160px;
left: 60px;
display: flex;
}

.blog-list__bloger-image {
  display: block;
  border-radius: 4px;
  margin-right: 14px;
}

.blog-list__name {
margin: 0;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 19px;
color: #FFFFFF;
}

.blog-list__date {
margin: 0;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 19px;
color: #FFFFFF;
}

.blog-list__image {
  display: block;
  width: 800px;
}

.blog-list__description{
  padding: 36px 76px 35px 60px;
  background-color: #fff;
}

.blog-list__paragraph {
margin: 0;
margin-bottom: 5px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #333333;
}

.blog-list__link{
text-decoration: none;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
color: #8D4FDB;
}

.blog__archive{
  background-color: #F1F1F1;
  padding-top: 49px;
  padding-bottom: 60px;
}

.blog__archive-heading{
margin: 0;
margin-bottom: 21px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #333333;
}

.blog__archive-link {
display: block;
box-sizing: border-box;
margin: 0 auto;
padding-top: 8px;
padding-bottom: 7px;
min-height: 45px;
width: 182px;
background-color: #8D4FDB;
border-radius: 3px;
text-decoration: none;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 30px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}

/* STORIES */

.stories {
padding-bottom: 90px;
}

.stories__title {
margin: 0;
margin-top: 85px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-align: center;
color: #333333;
}

.stories__subtitle {
  margin: 0;
  margin-top: 25px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 33px;
  text-align: center;
  color: #A9AFB3;  
}

.stories__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 940px;
}

.stories__card {
  position: relative;
  max-width: 300px;
  overflow: hidden;
  margin-top: 50px;
}

.stories__card:not(:nth-child(3)) {
  margin-right: 20px;
}

.blog-list__lable_place_stories {
  top: 131px;
  left: 24px;
}

.blog-list__bloger-image_place_stories {
  height: 35px;
  margin-right: 8px;
}

.blog-list__name_place_stories {
font-size: 14px;
}

.blog-list__date_place_stories{
  font-size: 13px;
  line-height: 18px;
}

.stories__image {
  display: block;
  height: 190px;
  border-radius: 3px;
}

.stories__card-title{
margin: 0;
margin-top: 23px;
padding-right: 20px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #000000;
}

.stories__text {
margin: 0;
margin-top: 56px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
text-align: center;
color: #333333;
}

.stories__link {
  text-decoration: none;
  color: #8D4FDB;
}

/* FOOTER */

.footer {
  background-color: #000000;
  padding-top: 55px;
  padding-bottom: 45px;
}

.footer__container {
  width: fit-content;
  margin: 0 auto;
  display: flex;
}

.footer__container:not(:first-child) {
  margin-top: 10px;
}

.footer__text {
margin: 0;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
text-align: center;
color: #8B8B8B;
}

.footer__text:first-child {
  margin-right: 10px;
}

.footer__text-accent {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: #8B8B8B;
}
